* {
    margin: 0;
    padding: 0;
}

header {
    background: #4E4591; 
    height: 48px;

}
.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.right {
    display: flex;
    align-items: center;
}
.man {
    height: 32px;
    width: 32px;
    background: #45ca7a;
    border-radius: 50%;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}